.header {
  height: 70px;
  // background-color: red;
  width: 100%;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  color: white;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .navbar {
    width: 100%
  }

  @media only screen and (max-width: 480px) {
    border-radius: 0;
  }
}