.footer {
  height: 70px;
  background-color: #F8F9FA;
  width: 100%;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  @media only screen and (max-width: 480px) {
    border-radius: 0;
  }
}