.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .middle {
    height: calc((100vh - 40px) - 140px);
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    @media only screen and (max-width: 480px) {
      width: 100%;
      height: calc(100vh - 140px);
    }
  }
}