.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E8E8E8;

  .app {
    width: 430px;
    height: calc(100vh - 40px);
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    @media only screen and (max-width: 480px) {
      width: 100%;
      height: 100vh;
    }
  }
}